.w-fit {
    width: fit-content !important;
}

.tech {
    background-color: darkgrey;
    border-radius: 8px;
    padding: 6px 14px;
    color: white;
    margin-right: 0.5rem;
}

.interests {
    border-radius: 8px;
    padding: 6px 14px;
    margin-right: 0.5rem;
    border: 2px solid gray;
}

#header, #content {
    margin-bottom: 6rem !important;
}

@media screen and (max-width:500px){

    #profile {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    #info {
        font-size: 1rem;
    }
    #info span{
        margin-bottom: 1rem;
    }
}